.input {
    margin-top: 100px;
    color: aqua;
    text-transform: uppercase;
    transition: all 3s ease-in-out;
}
.input h1 {
    font-size: 60px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 50px;
}
.input p {
    font-size: 20px;
    margin-top: 15px;
    margin-left: inherit;
}
form{
    margin-top: 40px;
    transition: all 3s ease-in-out;
    margin-left: 30%;
}
.form {
    width: 700px;
    border: none;
    outline: none;
    border-bottom: 2px solid blue;
    color: lightseagreen;
    font-size: 20px;
}
input{
    height: 55px;
}
form .submit {
    background-color: midnightblue;
    color: springgreen;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}